html {
    color-scheme: dark;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.selection-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.selection {
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 50px;
}

.selection-result-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 48px;
}

.score-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
}

.hidden {
    display: none;
}

#reset-button {
    margin: 5%;
    width: 200px;
    height: 30px;;
}

#end-game-message {
    font-size: 64px;
    font-weight: bolder;
}